# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Database / SQLite / Dumps
*.db
*.sqlite3
*.dump
*.log

# IDE and Editor files
.vscode/
.idea/
.DS_Store
*~
